:root{
    --primary:#6366f1;
    --primary-hover:#818cf8;

    --bg:#082868;
    --card:rgba(30,41,59,0.6);
    --card-solid:#1e293b;

    --second:#0f244d;

    --text:#e2e8f0;
    --muted:#94a3b8;
    --border:rgba(255,255,255,0.08);
}

/* RESET BASE */
*{
    box-sizing:border-box;
}

body{
    margin:0;
    font-family:system-ui, -apple-system, sans-serif;
    
    background:
        radial-gradient(circle at top, #1e293b, #0b1220 60%);
        background-size: fill;


    color:var(--text);
}

/* LAYOUT */
.container{
    max-width:1100px;
    margin:auto;
    padding:30px 20px;
}

/* LOGIN */
.login-box{
    background:var(--card);
    backdrop-filter: blur(12px);
    border:1px solid var(--border);

    padding:35px;
    border-radius:16px;

    box-shadow:0 20px 60px rgba(0,0,0,.5);

    margin:100px auto;
    max-width:360px;

    text-align:center;
}

.login-box h2{
    margin-bottom:10px;
}

.hint{
    color:var(--muted);
    font-size:13px;
    margin-bottom:20px;
}

/* INPUT */
input{
    width:100%;
    padding:12px 14px;
    margin:10px 0;

    border-radius:10px;
    border:1px solid var(--border);

    background:#020617;
    color:var(--text);

    outline:none;
    transition:.2s;
}

input:focus{
    border-color:var(--primary);
    box-shadow:0 0 0 2px rgba(99,102,241,.2);
}

/* BUTTON */
button{
    width:100%;
    padding:12px;

    border:none;
    border-radius:10px;

    background:linear-gradient(135deg,var(--primary),#4f46e5);
    color:white;

    font-weight:600;
    cursor:pointer;

    transition:.2s;
}

button:hover{
    background:linear-gradient(135deg,var(--primary-hover),var(--primary));
    transform:translateY(-1px);
    box-shadow:0 8px 20px rgba(99,102,241,.3);
}

button:active{
    transform:scale(0.98);
}

/* HEADER */
header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    background:var(--card-solid);
    border:1px solid var(--border);

    padding:15px 20px;
    border-radius:14px;

    margin-bottom:20px;
}

/* CARDS */
.project-card{
    background:var(--card);
    backdrop-filter: blur(10px);

    border:1px solid var(--border);

    padding:20px;
    border-radius:14px;

    margin-top:15px;

    transition:.25s;
}

.project-card:hover{
    transform:translateY(-4px);
    box-shadow:0 15px 40px rgba(0,0,0,.4);
}

/* SESSÕES */
.session-box{
    margin-top:15px;
    padding-left:15px;
    border-left:2px solid var(--primary);
}

/* ETAPAS */
.step-box{
    background: var(--second);
    border:1px solid var(--border);

    padding:12px;
    border-radius:10px;

    margin-top:10px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* BADGE */
.badge{
    padding:5px 10px;
    border-radius:999px;

    font-size:12px;
    font-weight:600;

    background:rgba(99,102,241,.15);
    color:#a5b4fc;
}

/* LOGS */
.logs-panel{
    margin-top:20px;

    background:#020617;
    border:1px solid var(--border);

    padding:15px;
    border-radius:12px;

    font-family:monospace;
}

.hidden{ display:none; }

.search-result{
    margin-top:10px;
    color:#38bdf8;
    font-weight:500;
}

.error{
    color:#f87171;
    font-size:14px;
    margin-bottom:10px;
    display:none;
}
.btn-small {
    width: auto;
    padding: 6px 10px;
    font-size: 12px;
    border-radius: 8px;
}
.step-box button {
    width: auto;
}
/* STATUS COLORS */
.status-nao-iniciado {
    border-left: 4px solid #6b7280;
}

.status-em-progresso {
    border-left: 4px solid #facc15;
}

.status-finalizado {
    border-left: 4px solid #22c55e;
}